*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: iranSans;
    src: url(./font/IRANSans.woff);
}
.container{
    max-width: 1300px;
    margin-block: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  
}
.col{
    width: calc(33% - 30px);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  iranSans;
}
input , button{
    font-family: iranSans;
}
.one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 50px;
    background-color:#EED6D3 ;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
}
.check{
 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 4px;
    border-radius: 20px;
    margin-block: 20px;
}
input{
    padding: 5px;
    border: none;
    width: 100%;
    border-radius: 10px;
    outline: none;
}
.btn{
    background-color:#67595E;
    color: #fff;
 
    padding: 10px;
    border: none;
    outline:none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.one p {
    font-size: 12px;
    margin-bottom: 20px;
}
.text ,.text-2{
    color: #e12929;
    font-size: 14px!important;
}

.two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-block: 50px;
    background-color:#96AAA7;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
}
.show-car{
    background-color: #EED6D3;
    color: #000;
    padding: 8px 20px;
  margin-block: 20px;
}
.two lable{
    font-size: 12px;
}
.isElectric{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.isElectric div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
 .radio{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
   
 }
.car-details{
    background-color: #fff;
    width: 100%;
    height: 100px;
}


/* three */
.three-container{
    background-color: cadetblue;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    gap:10px;

}
.input-array{
padding: 10px 5px;

}
.make-array{
    all: unset;
    width: 100%;
    padding: 10px 0;
   
    border-radius: 5px;
    background-color: #ccc;
    text-align: center;
    margin: 0 auto;



}


/* four styles  */

.four-container{
   margin-block: 30px;
   background-color: #DFD5A5; 
   padding: 20px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   /* height:200px; */
}

.even-odd{
    background-color: #628395;
    padding: 20px;
    width: 100%;
    color: #fff;
    border-radius: 50px;
text-align: center;
}


/* five */

.five-container{
    background-color: #cf995f;
    border-radius: 20px;
    padding: 20px;
  
   
}
#user{
    background-color: #DFD5A5;
    margin-block: 30px;
    padding: 20px;
    border-radius: 10px;
      display: flex;
   align-items: flex-start;
}

.add{
  
    height: 40px;
  
    background-color: #fff;
    padding: 10px 4px;
    border-radius: 20px;
  
}
.fav-list{
display: flex;
align-items: flex-start;
justify-content: flex-start;
    background-color: #fff;
    /* padding: 10px; */
    border-radius: 20px;
    width: 100%;
    overflow: scroll;
}
.fav-container{
    display: flex;
    flex-direction: column;
}
.fav-container div{
    display: flex;

}
.add{
        display: flex;
    align-items: center;
}
.add-fav{
    width: 50px;
    height: 35px;

}
.btns{
    display: flex;
    align-items: center;
    gap:5px;
}

@media (width <= 768px){
    .container{
        flex-direction: column;
    }
    .col{
       flex-basis: 100%;
    }
}
@media (width <= 1024px){
   
    .col{
        width: 100%;
    }
}


/* calculatur  */

.calculatur{
    background-color: #051249d0;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
}
.calculatur-container{
    padding: 20px;
margin-block: 30PX;
background: rgba(255, 255, 255, 0.16);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
border: 1px solid rgba(255, 255, 255, 0.2);
}


.display{
    width: 100%;
    height: 50px;
    font-size: 16px;
}
.numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin-block: 10px;
    
    
    
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.num , .plus , .minus , .equal , .clear , .divide , .multiple{
    all: unset;
    cursor: pointer;
    padding: 16px;
    background-color: #fff;
    color: #ffffff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.16);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
border: 1px solid rgba(255, 255, 255, 0.2);

}
.clear{
    background-color: #e12929;
}


/* seven  */
.hoop{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
padding: 20px;
border-radius: 10px;
}
.hoop-num {
    width: 100%;
    background-color: #DFD5A5;
}
.hoop-number{
    background-color: #DFD5A5;
}
.numbersDivisible{
    width: 300px;
  padding: 20px;
  background-color: #eeb5b5;
    overflow: scroll;
}
.text{
    display: block;
    color: red!important;
    width: 300px;
    height: 20px;
    background-color: #eeb5b5;
}


/* eight  */
.sum-container{
       /* width: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
padding: 20px;
border-radius: 10px;
background-color: #96AAA7;
}

.even-num{
    width: 100%;
    background-color: #e7c4a0;
}

